.h1-1{
	padding: 5px;
	font-size: 30px;
	color: white;
	background-color: #999999;
}

.panel{
	padding: 10px;
	color: white;
	background-color: #009688c7;
	border-bottom: 1px solid white;
	cursor: pointer;
}
.content{
	padding: 20px;
	color: white;
	background-color: #009688c7;
}